<!DOCTYPE html>
<html lang="kr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0,
          minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi"
          charset="UTF-8">
    <link rel="stylesheet" href="/css/style-main.css"/>
    <title>당근 마켓 클론코딩 첼린지</title>
</head>
<body>

<div id="eee" class="box1">
    <div class="box1_child">
        <img src="/images/carrot.png" style="max-width:150px; height:auto;" alt="Carrot">
        <h2>당신 근처의 Karrot 마켓</h2>
        <h3>이제 내 동내에서<br>간편하게 중고거래하자</h3>
    </div>
</div>

<div class="box2">
    <div class="box2_child">
        <button class="btn1" onclick="location.href='/join';">시작하기</button>
        <br><br>
        이미 계정이 있나요? <a href="/login" class="loginLink">로그인</a>
    </div>
</div>

</body>
</html>